@tailwind base;
@tailwind components;
@tailwind utilities;

.textarea-disabled,
  .textarea[disabled] {
  cursor: default;
  --tw-border-opacity: 1;
  border-color: hsl(var(--wa) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
  --tw-text-opacity: 0.2;
}